<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Algoritmia - CreepyWebCamp</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Resume Website Template Free Download" name="keywords">
        <meta content="Resume Website Template Free Download" name="description">


 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="../css/styleContent.css" rel="stylesheet">

    </head>


	
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <img src="../img/logo.png" alt="Image">
                </div>
                <div class="sidebar-content">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Creepy Coders</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Inicio<i class="fa fa-home"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i class="fa fa-address-card"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="algoritmia.html">Algoritmia<i class="fas fa-sort-numeric-up-alt"></i></a>
                                </li>	
                                <li class="nav-item">
                                    <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="repositorios.html">Repositorios<i class="fas fa-code-branch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                                </li>								
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="content">
                <!-- Header Start -->
                <div class="header" id="header">
                    <div class="content-inner-algoritmia">

                        <h1>Algoritmia</h1>
                        <h2></h2>

                    </div>
                </div>
                <!-- Header End -->
                
                <!-- Large Button Start -->
                <div class="large-btn">
                    <div class="content-inner" >
                        <a class="btn" href="./algoritmiaEjercicios.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
                    </div>
                </div>
                <!-- Large Button End -->
                
                <div class="about" id="introduccion">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿Qué es la Algoritmia?</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
							<p>El origen del término 'algoritmo' surgió a mediados del siglo IX cuando el distinguido matemático y astrónomo Mohammed Ibn Musa-al-Khwarizmi desarrolló en su obra "Al-yebr-mugabata" fórmulas para posibilitar que con un número limitado de procesos fuese posible resolver ecuaciones de primer y segundo grado. Aunque no fuese el creador en sí del primer algoritmo, el icónico matemático fue el primero en pensar en modo algorítmico pues explicó que, mediante una especificación clara y concisa de cómo calcular sistemáticamente, se podrían definir algoritmos que fueran usados en dispositivos mecánicos similares a un ábaco en vez de las manos.
							</p>
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/algo1.jpg" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>					
				
				
                <!-- About Start -->
                <div class="about" id="about">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Un poco de Historia</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/algo5.jpg" alt="Image">
                            </div>
                            <div class="col-md-6 col-lg-7">
							<p>El origen del término 'algoritmo' surgió a mediados del siglo IX cuando el distinguido matemático y astrónomo Mohammed Ibn Musa-al-Khwarizmi desarrolló en su obra "Al-yebr-mugabata" fórmulas para posibilitar que con un número limitado de procesos fuese posible resolver ecuaciones de primer y segundo grado. Aunque no fuese el creador en sí del primer algoritmo, el icónico matemático fue el primero en pensar en modo algorítmico pues explicó que, mediante una especificación clara y concisa de cómo calcular sistemáticamente, se podrían definir algoritmos que fueran usados en dispositivos mecánicos similares a un ábaco en vez de las manos.
							</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->
				
				
                <div class="about" id="estructura">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿Por qué la necesidad de estos?</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-12">
								<p>Estos métodos nacieron por la necesidad de poder ordenar los procesos para ganar eficiencia a la hora de tratar con ellos, es decir, son los encargados de ordenar y dirigir los procesos para asegurar que ninguno de ellos monopolice el uso de la CPU.</p>                         
							</div>						
                        </div>
                    </div>
                </div>			

                <div class="about" id="soporte">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Diagramas de flujo</h2>
                        </div>
                        <div class="row align-items-center">
                            <h3 class="pl-3">Simbología Diagramas de Flujo</h3>
                            <div class="col-md-12 col-lg-12">
                                <p>Antes de ver algunos de los algoritmos más utilizados vamos a dar a conocer algunos aspectos o conceptos para entenderlos mejor.
                                    <ul>
                                        <li class="listaContenido">
                                            Tiempo de espera: El tiempo que un proceso permanece en espera en la cola de ejecución.
                                        </li>
                                        <li class="listaContenido">
                                            Tiempo de retorno: Tiempo que va desde que se lanza un proceso hasta que finaliza.
                                        </li>
                                        <li class="listaContenido">
                                            Tiempo de respuesta: Por último éste se define a el tiempo que un proceso bloqueado tarda en entrar en ejecución.
                                        </li>
                                        <li class="listaContenido">
                                            Uso de CPU: Porcentaje de tiempo que la CPU está ocupada.
                                        </li>
                                        <li class="listaContenido">
                                            Productividad: Número de procesos realizados en una unidad de tiempo.
                                        </li>
                                        <li class="listaContenido">
                                            Apropiativo: También conocido como expulsivo o expropiativo, este tipo de algoritmo nos permite la expulsión de procesos para ejecutar un nuevo proceso, poniendo en cola al anterior.
                                        </li>
                                        <li class="listaContenido">
                                            No Apropiativo: Este tipo no nos permite la expulsión, por lo que un proceso nuevo no entrará hasta que termine el anterior.
                                        </li>
                                    </ul></p>
                                    <img src="../img/algo.jpg" alt="" width="100%"/>
							</div>
							
                        </div>
                    </div>
                </div>	

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Ventajas</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
                                <P>
                                    <ol>
                                        <li class="listaContenido">
                                            Los algoritmos son la esencia de la informática, son uno de los centros de interés de muchas, si no todas, de las áreas del campo de la informática.
                                        </li>
                                        <li class="listaContenido">
                                            Puedes trabajar en orden.
                                        </li>
                                        <li class="listaContenido">
                                            Te redacta en orden paso a paso lo que hay que hacer.
                                        </li>
                                        <li class="listaContenido">
                                            Ayuda a resolver más fácil y rápido los problemas.
                                        </li>
                                        <li class="listaContenido">
                                            Disminuye sensiblemente el riesgo de errores.
                                        </li>
                                        <li class="listaContenido">
                                            Favorece el obtener el máximo de información.
                                        </li>
                                    </ol>
                                </P>
							</div>
							
                        </div>
                    </div>
                </div>

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Desventajas</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
								<p>
                                    <ol class="listaContenido">
                                        <li class="listaContenido">
                                            Hay textos que desarrollan los algoritmos, mediante diversos tipos de programas, por ejemplo: el lenguaje de programación C++, pero para comprender las letras deben poseer al menos un año de experiencia en ese lenguaje de programación de alto y bajo nivel.
                                        </li>
                                        <li class="listaContenido">
                                            Muchos algoritmos interesantes llevan implícitos complicados métodos de organización de los datos utilizados en el calendo.
                                        </li>
                                        <li class="listaContenido">
                                            Con frecuencia sucede que muchos de los algoritmos que se van a utilizar son fáciles de implementan una vez que se ha descompuesto el programa, sin embargo, en la mayor parte  de los casos, existen unos pocos algoritmos cuya elección es crítica porque su ejecución ocupara la mayoría de los recursos del sistema.
                                        </li>
                                        <li class="listaContenido">
                                            La elección del mayor algoritmo para una tarea particular puede ser un proceso muy complicado y con frecuencia conllevara un análisis matemático sofisticado.
                                        </li>
                                        <li class="listaContenido">
                                            Actualmente se está estudiando en la informática, como seleccionar el algoritmo que conduzca a la mejor implementación pues para la mayoría de los problemas existen varios algoritmos diferentes.
                                        </li>
                                    </ol>
                                </p>
							</div>
							
                        </div>
                    </div>
                </div>					
                
 
                
                <!-- Footer Start -->
                <div class="footer">
                    <div class="content-inner">
                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <p>Powered by <a href="#">Creepy Coders</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Start -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
        
 
    </body>
</html>
