<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Algoritmia - CreepyWebCamp</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    -->
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>¿Qué es la Algoritmia?</h2>
                <p>La algoritmia consiste en la búsqueda de soluciones a un problema concreto. Pero, en aras de entender mejor lo que esto significa, hace falta una definición más extensa. Un algoritmo es la transcripción exacta de una serie de instrucciones concretas con las cuales se encuentra una solución.</p>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/algo3.png" alt="" width="100%" height="100%"/></li>
                        <li><img src="../img/algo2.png" alt="" width="100%" height="100%"/></li>
                        <li><img src="../img/algo1.jpg" alt="" width="100%" height="100%"/></li>

                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>Un Poco de historia...</h2>
                    <p>
                        El origen del término 'algoritmo' surgió a mediados del siglo IX cuando el distinguido matemático y astrónomo Mohammed Ibn Musa-al-Khwarizmi desarrolló en su obra "Al-yebr-mugabata" fórmulas para posibilitar que con un número limitado de procesos fuese posible resolver ecuaciones de primer y segundo grado. Aunque no fuese el creador en sí del primer algoritmo, el icónico matemático fue el primero en pensar en modo algorítmico pues explicó que, mediante una especificación clara y concisa de cómo calcular sistemáticamente, se podrían definir algoritmos que fueran usados en dispositivos mecánicos similares a un ábaco en vez de las manos.
                        
                        </p>
                </div>
                <div class="post">
                    <h2>¿Por qué la necesidad de estos?</h2>
                    <img src="../img/post-image1.gif" alt="" />
                    <p>
                        Estos métodos nacieron por la necesidad de poder ordenar los procesos para ganar eficiencia a la hora de tratar con ellos, es decir, son los encargados de ordenar y dirigir los procesos para asegurar que ninguno de ellos monopolice el uso de la CPU.
                    </p>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post"> 
                        <h2>Conceptos básicos.</h2>
                        <h3>Simbología Diagramas de Flujo</h3>
                        <br>
                        <img src="../img/algo.jpg" alt="" width="100%"/>
                        <br>
                        <h3>Conceptos importantes</h3>
                        <p>Antes de ver algunos de los algoritmos más utilizados vamos a dar a conocer algunos aspectos o conceptos para entenderlos mejor.
                            <ul>
                                <li class="listaContenido">
                                    Tiempo de espera: El tiempo que un proceso permanece en espera en la cola de ejecución.
                                </li>
                                <li class="listaContenido">
                                    Tiempo de retorno: Tiempo que va desde que se lanza un proceso hasta que finaliza.
                                </li>
                                <li class="listaContenido">
                                    Tiempo de respuesta: Por último éste se define a el tiempo que un proceso bloqueado tarda en entrar en ejecución.
                                </li>
                                <li class="listaContenido">
                                    Uso de CPU: Porcentaje de tiempo que la CPU está ocupada.
                                </li>
                                <li class="listaContenido">
                                    Productividad: Número de procesos realizados en una unidad de tiempo.
                                </li>
                                <li class="listaContenido">
                                    Apropiativo: También conocido como expulsivo o expropiativo, este tipo de algoritmo nos permite la expulsión de procesos para ejecutar un nuevo proceso, poniendo en cola al anterior.
                                </li>
                                <li class="listaContenido">
                                    No Apropiativo: Este tipo no nos permite la expulsión, por lo que un proceso nuevo no entrará hasta que termine el anterior.
                                </li>
                            </ul></p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2>Ventajas</h2>
                        <P>
                            <ol>
                                <li class="listaContenido">
                                    Los algoritmos son la esencia de la informática, son uno de los centros de interés de muchas, si no todas, de las áreas del campo de la informática.
                                </li>
                                <li class="listaContenido">
                                    Puedes trabajar en orden.
                                </li>
                                <li class="listaContenido">
                                    Te redacta en orden paso a paso lo que hay que hacer.
                                </li>
                                <li class="listaContenido">
                                    Ayuda a resolver más fácil y rápido los problemas.
                                </li>
                                <li class="listaContenido">
                                    Disminuye sensiblemente el riesgo de errores.
                                </li>
                                <li class="listaContenido">
                                    Favorece el obtener el máximo de información.
                                </li>
                            </ol>
                        </P>
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <h2>Desventajas</h2>
                        <p>
                            <ol class="listaContenido">
                                <li class="listaContenido">
                                    Hay textos que desarrollan los algoritmos, mediante diversos tipos de programas, por ejemplo: el lenguaje de programación C++, pero para comprender las letras deben poseer al menos un año de experiencia en ese lenguaje de programación de alto y bajo nivel.
                                </li>
                                <li class="listaContenido">
                                    Muchos algoritmos interesantes llevan implícitos complicados métodos de organización de los datos utilizados en el calendo.
                                </li>
                                <li class="listaContenido">
                                    Con frecuencia sucede que muchos de los algoritmos que se van a utilizar son fáciles de implementan una vez que se ha descompuesto el programa, sin embargo, en la mayor parte  de los casos, existen unos pocos algoritmos cuya elección es crítica porque su ejecución ocupara la mayoría de los recursos del sistema.
                                </li>
                                <li class="listaContenido">
                                    La elección del mayor algoritmo para una tarea particular puede ser un proceso muy complicado y con frecuencia conllevara un análisis matemático sofisticado.
                                </li>
                                <li class="listaContenido">
                                    Actualmente se está estudiando en la informática, como seleccionar el algoritmo que conduzca a la mejor implementación pues para la mayoría de los problemas existen varios algoritmos diferentes.
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">2021 <a href="#">CreepyWebCamp</a> - made by CreepyCoders</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>