<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CSS - Creepy Coders</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Resume Website Template Free Download" name="keywords">
        <meta content="Resume Website Template Free Download" name="description">


 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="../css/styleContent.css" rel="stylesheet">

    </head>


	
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <img src="../img/logo.png" alt="Image">
                </div>
                <div class="sidebar-content">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Creepy Coders</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../../index.html">Inicio<i class="fa fa-home"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i class="fa fa-address-card"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="algoritmia.html">Algoritmia<i class="fas fa-sort-numeric-up-alt"></i></a>
                                </li>	
                                <li class="nav-item">
                                    <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="repositorios.html">Repositorios<i class="fas fa-code-branch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                                </li>								
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="content">
                <!-- Header Start -->
                <div class="header" id="header">
                    <div class="content-inner-css">
                        <h1>CSS</h1>
                        <h2></h2>
                        <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</div>
                    </div>
                </div>
                <!-- Header End -->
                
                <!-- Large Button Start -->
                <div class="large-btn">
                    <div class="content-inner" >
                        <a class="btn" href="cssEjercicios.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
                    </div>
                </div>
                <!-- Large Button End -->
                
                <div class="about" id="introduccion">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>CSS Introducción.</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
							<p>Junto a HTML, CSS es el lenguaje más importante para el diseño web. Quien quiera crear páginas web modernas no podrá pasar por alto las hojas de estilo en cascada (Cascading Style Sheets). 
							De la misma forma, contar con conocimientos básicos en CSS resulta de gran ayuda a la hora de trabajar con editores gráficos HTML, sistemas modulares de diseño web o sistemas de gestión de contenidos.
							</p>
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/css_img3.png" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>					
				
				
                <!-- About Start -->
                <div class="about" id="about">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Un poco de Historia</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/css_slider1.jpg" alt="Image">
                            </div>
                            <div class="col-md-6 col-lg-7">
							<p><li>Alrededor de 1970 aparecieron las hojas de estilos aparecieron poco después.</li>
							<li>A finales de 1994 y 1995 Lie y Bos se unieron para definir un nuevo lenguaje y lo llamaron CSS (Cascading Style Sheets).</li>
							<li>En 1995, el W3C decidió apostar por el desarrollo y estandarización de CSS y lo añadió a su grupo de trabajo de HTML.</li>
							<li>A principios de 1997, el W3C decide separar los trabajos del grupo de HTML en tres secciones: el grupo de trabajo de HTML, el grupo de trabajo de DOM y el grupo de trabajo de CSS.</li>
							<li>En 1998, el grupo de trabajo de CSS publica su segunda recomendación oficial "CSS nivel 2".</li>
							<li>El primer navegador con soporte completo de CSS 1 fue la versión para Mac de Internet Explorer 5, que se publicó en el año 2000.</li>
							<li>Por el momento, ningún navegador tiene soporte completo de CSS 2.1.</li>
							</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->
				
				
                <div class="about" id="estructura">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Estructura básica: la sintaxis CSS.</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
								<p>La tarea principal de CSS es definir el diseño de una página web. Para ello, y con la ayuda de las propiedades del lenguaje de hojas de estilo (properties), se asocian ciertos valores a los elementos HTML subyacentes. Así, la estructura básica de una instrucción de diseño se ve de la siguiente manera:</p><br />
								<li><b>Selector { Declaración }</b></li><br />
								<p>El selector es una representación del elemento HTML al que se refiere la instrucción de diseño. La declaración se compone de la combinación entre propiedad y valor, citada a continuación entre corchetes.</p>                            
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/css_img3.png" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>			

                <div class="about" id="soporte">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Soporte de CSS en los navegadores.</h2>
                        </div>
                        <div class="row align-items-center">
						
                            <div class="col-md-12 col-lg-12">
							<p>Internamente, los navegadores están divididos en varios componentes. La parte del navegador que se encarga de interpretar el código HTML y CSS para mostrar las páginas se denomina motor. Desde el punto de vista del diseñador CSS, la versión de un motor es mucho más importante que la versión del propio navegador.</p>
							<div class="col-md-12 col-lg-12">
								<img src="../img/css_img2.png" alt="Image">
							</div>
							<p>La tabla anterior ha sido elaborada a partir de la información que se puede encontrar en la página Comparison of layout engines de la Wikipedia, donde se muestra una comparación exhaustiva sobre el soporte de todas las características de CSS por parte de cada navegador</p>                    
							</p>
							</div>
							
                        </div>
                    </div>
                </div>	

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Selectores CSS.</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
							<p>CSS soporta diferentes selectores que permiten una asignación personalizada de instrucciones de diseño. Sin embargo, para comenzar es suficiente con familiarizarse con los selectores de ID, de clases, de tipo o etiqueta y universales.</p>
							<div class="col-md-12 col-lg-12">
								<img src="../img/css_img4.png" alt="Image">
							</div>
							</div>
							
                        </div>
                    </div>
                </div>

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Integrar CSS en HTML.</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
								<p>Para que un navegador pueda considerar el formato CSS como parte de la estructura de la página web, las instrucciones de diseño deben estar vinculadas al código fuente HTML.</p>
								<p><li>Su integración en las etiquetas HTML: <h2 style="color: red;">&lt;h2 style=": red;"&gt;Subtítulo&lt;/h2&gt;</h2></li>
								<li>Su inclusión en el encabezado HTML</li>
								<div class="col-md-7 col-lg-7">
									<img src="../img/css_img5.png" alt="Image">
								</div><br />
								<li>El enlazamiento a una hoja de estilo externa.</li></p>
								<b>&lt;link rel="stylesheet" href="ejemplo.css"&gt;</b>
								<p>Esta última opción es considerada la más idónea: en la práctica las hojas de estilo se crean generalmente como archivos de texto externos y son integradas posteriormente. </p>                        
                       								
							</div>
							
                        </div>
                    </div>
                </div>					
                
 
                
                <!-- Footer Start -->
                <div class="footer">
                    <div class="content-inner">
                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <p>Powered by <a href="#">Creepy Coders</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Start -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
        
 
    </body>
</html>
