<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Creepy Coders - HTML</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">Creepy Coders - HTML</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>¿Qué es CSS?</h2>
                <p>CSS (en inglés Cascading Style Sheets) es lo que se denomina lenguaje de hojas de estilo en cascada y se usa para estilizar elementos escritos en un lenguaje de marcado como HTML. CSS separa el contenido de la representación visual del sitio.</p>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/css_slider1.jpg" alt=""  style="width:100%; height:100%;"/></li>
                        <li><img src="../img/css_slider2.jpg" alt="" style="width:100%; height:100%;" /></li>
                        <li><img src="../img/css_slider3.jpg" alt="" style="width:100%; height:100%" /></li>
                        <li><img src="../img/css_slider4.jpg" alt=""  style="width:100%; height:100%"/></li>
                        <li><img src="../img/css_slider5.jpeg" alt="" style="width:100%; height:100%"/></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="active">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>Un poco de Historia...</h2>
                    <p><li>Alrededor de 1970 aparecieron las hojas de estilos aparecieron poco después.</li>
                    <li>A finales de 1994 y 1995 Lie y Bos se unieron para definir un nuevo lenguaje y lo llamaron CSS (Cascading Style Sheets).</li>
                    <li>En 1995, el W3C decidió apostar por el desarrollo y estandarización de CSS y lo añadió a su grupo de trabajo de HTML.</li>
                    <li>A principios de 1997, el W3C decide separar los trabajos del grupo de HTML en tres secciones: el grupo de trabajo de HTML, el grupo de trabajo de DOM y el grupo de trabajo de CSS.</li>
                    <li>En 1998, el grupo de trabajo de CSS publica su segunda recomendación oficial "CSS nivel 2".</li>
                    <li>El primer navegador con soporte completo de CSS 1 fue la versión para Mac de Internet Explorer 5, que se publicó en el año 2000.</li>
                    <li>Por el momento, ningún navegador tiene soporte completo de CSS 2.1.</li>

                    </p>
                </div>
                <div class="post">
                    <h2><span id="spanEditores">Estructura básica: la sintaxis CSS.</span></h2>
                    <img src="../img/../img/css_img3.png" alt=""  style="width:100%" />
                        <p>La tarea principal de CSS es definir el diseño de una página web. Para ello, y con la ayuda de las propiedades del lenguaje de hojas de estilo (properties), se asocian ciertos valores a los elementos HTML subyacentes. Así, la estructura básica de una instrucción de diseño se ve de la siguiente manera:</p><br />
                        <li><b>Selector { Declaración }</b></li><br />
                        <p>El selector es una representación del elemento HTML al que se refiere la instrucción de diseño. La declaración se compone de la combinación entre propiedad y valor, citada a continuación entre corchetes.</p>
                        <a href="#" class="more">more</a>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">CSS Introducción.</span></h2>
                        <img src="../img/css_img1.jpg" alt="" class="right"  style="width:100px" />
                        <p>Junto a HTML, CSS es el lenguaje más importante para el diseño web. Quien quiera crear páginas web modernas no podrá pasar por alto las hojas de estilo en cascada (Cascading Style Sheets). 
                        De la misma forma, contar con conocimientos básicos en CSS resulta de gran ayuda a la hora de trabajar con editores gráficos HTML, sistemas modulares de diseño web o sistemas de gestión de contenidos.</p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">Soporte de CSS en los navegadores.</span></h2>
                        <p>Internamente, los navegadores están divididos en varios componentes. La parte del navegador que se encarga de interpretar el código HTML y CSS para mostrar las páginas se denomina motor. Desde el punto de vista del diseñador CSS, la versión de un motor es mucho más importante que la versión del propio navegador.</p>
                        <img src="../img/css_img2.png" alt=""   style="width:100%" />    
                        <p>La tabla anterior ha sido elaborada a partir de la información que se puede encontrar en la página Comparison of layout engines de la Wikipedia, donde se muestra una comparación exhaustiva sobre el soporte de todas las características de CSS por parte de cada navegador</p>                    
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="post">
                        <h2><span id="spanBasicos">Selectores CSS</span></h2>
                        <p>CSS soporta diferentes selectores que permiten una asignación personalizada de instrucciones de diseño. Sin embargo, para comenzar es suficiente con familiarizarse con los selectores de ID, de clases, de tipo o etiqueta y universales.</p>
                        <img src="../img/css_img4.png" alt=""    style="width:100%"/>                        
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>

            </div>
            <div id="content">  

                <div class="col">
                    <div class="post">
                        <h2><span id="spanEncabezados">Integrar CSS en HTML.</span></h2>                      
                        <p>Para que un navegador pueda considerar el formato CSS como parte de la estructura de la página web, las instrucciones de diseño deben estar vinculadas al código fuente HTML.</p>
                        <p><li>Su integración en las etiquetas HTML: <h3 style="color: red;">&lt;h2 style=": red;"&gt;Subtítulo&lt;/h2&gt;</h3></li>
                        <li>Su inclusión en el encabezado HTML</li>
                        <img src="../img/css_img5.png" alt="" style="width:70%"/>                         
                        <li>El enlazamiento a una hoja de estilo externa</li></p>
                        <b>&lt;link rel="stylesheet" href="ejemplo.css"&gt;</b>
                        <p>Esta última opción es considerada la más idónea: en la práctica las hojas de estilo se crean generalmente como archivos de texto externos y son integradas posteriormente. </p>                        
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>            
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">Code Creepers</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>