<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>HTML - Creepy Coders</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="../../index.html">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="../../index.html" class="active">Home</a></li>
                    <li><a href="#">Cursos</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="../views/html.html">HTML</a></li>
                                    <li><a href="../views/css.html">CSS</a></li>
                                    <li><a href="../views/javaScript.html">Javascript</a></li>
                                    <li><a href="../views/logica.html">Lógica</a></li>
                                    <li><a href="../views/algoritmia.html">Algoritmia</a></li>
                                    <li><a href="../views/srum.html">Scrum</a></li>
                                    <li><a href="../views/repositorios.html">Repositorios</a></li>
                                    <li><a href="../views/bootstrap.html">Bootstrap</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>HTML</h2>
                <p>HTML, siglas en inglés de <b>HyperText Markup Language</b> (‘lenguaje de marcado de hipertexto’), hace referencia al lenguaje de marcado para la elaboración de páginas web. Es un estándar que sirve de referencia del software que conecta con la elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código (denominado código HTML) para la definición de contenido de una página web.</p>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/html_slide5.png" alt=""  style="width:100%; height:100%;"/></li>
                        <li><img src="../img/html_slide1.png" alt="" style="width:100%; height:100%;" /></li>
                        <li><img src="../img/html_slide.jpg" alt="" style="width:100%; height:100%" /></li>
                        <li><img src="../img/html_slide3.jpg" alt=""  style="width:100%; height:100%"/></li>
                        <li><img src="../img/html_slide4.png" alt="" style="width:100%; height:100%"/></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="active">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>Un poco de Historia...</h2>
                    <p><li>En 1980 el físico Tim Berners-Lee propuso un nuevo sistema de “hipertexto” para compartir documentos.</li>
                    <li>En 1991 se publicó el primer documento formal con la descripción de HTML bajo el nombre “HTML Tags”.</li>
                    <li>En 1993 se presenta la primera propuesta oficial para convertir HTML en un estándar se realizó en 1993.</li>
                    <li>En 1995, el organismo IETF publicó el estándar HTML 2.0.</li>
                    <li>A partir de 1996, los estándares de HTML los publica el W3C. </li>
                    <li>En 1998 se publicó el estándar HTML 4.0.</li>
                    <li>En el año 2004, las empresas Apple, Mozilla y Opera se aliaron. </li>
                    <li>En el año 2008 se publica el primer borrador para el estándar HTML5.</li>
                    <li>HTML5 ya es un estándar recomendado por el consorcio W3C. </li>
                    </p>
                </div>
                <div class="post">
                    <h2><span id="spanEditores">HTML Editores.</span></h2>
                    <img src="../img/notepad-plus-plus.png" alt=""  style="width:100px" />
                        <p> Las páginas web se pueden crear y modificar utilizando editores HTML profesionales. (Visual Studio Code, Sublime Text...)
                            Sin embargo, para aprender HTML, se recomienda iniciar utilizando un editor de texto simple como el Bloc de Notas, Notepad++ (PC). Es una buena forma de iniciar, ya que estos editores no tienen ninguna ayuda, por lo que el estudiante comprenderá mejor el concepto de Lenguaje de Marcado.</p>
                    <a href="#" class="more">more</a>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">HTML Introducción.</span></h2>
                        <img src="../img/html.png" alt="" class="right"  style="width:100px" />
                        <p>El HTML define una estructura básica y un código (denominado código HTML) para la definición de contenido de una página web, como texto, imágenes, videos, juegos, entre otros. Es un estándar a cargo del World Wide Web Consortium (W3C) o Consorcio WWW, organización dedicada a la estandarización de casi todas las tecnologías ligadas a la web, sobre todo en lo referente a su escritura e interpretación. HTML se considera el lenguaje web más importante siendo su invención crucial en la aparición, desarrollo y expansión de la World Wide Web (WWW). Es el estándar que se ha impuesto en la visualización de páginas web y es el que todos los navegadores actuales han adoptado.</p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2><span id="spanBasicos">HTML Ejemplos Básicos - Documentos.</span></h2>
                        <img src="../img/ejemplo_html.png" alt="" class="right"  style="width:100px"/>
                        <p>Todos los documentos HTML deben comenzar con una declaración de tipo de documento: <b><span>&lt;! DOCTYPE html&gt;</span></b>.
                        El documento HTML en sí mismo comienza con <b>&lt;html&gt;</b> y termina con <b>&lt;/html&gt;</b>.
                        La parte visible del documento HTML se encuentra entre <b>&lt;body&gt;</b> y <b>&lt;/body&gt;</b>.</p>                
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <h2><span id="spanElementos">HTML Elementos.<span></h2>
                        <p>El elemento HTML es todo, desde la etiqueta inicial hasta la etiqueta final: <b>&lt;tagname&gt;</b> El contenido va aquí ... <b>&lt;/tagname&gt;</b> Ejemplos de algunos elementos HTML:<br /><br />
                        <small><small><h1>&lt;h1&gt; Mi primer título &lt;/h1&gt;</h1></small></small>
                        <p><b>&lt;p&gt;</b> Mi primer párrafo. <b>&lt;/p&gt;</b></p><br />
                        </p>
                        <a href="#" class="more left">more</a> <img src="../img/ejemplo_elementos.png" alt="" class="right"  style="width:190px"/>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div id="content">  

                <div class="col">
                    <div class="post">
                        <h2><span id="spanEncabezados">HTML Encabezados.</span></h2>  
                        <img src="../img/encabezados.png" alt="" class="right"  style="width:190px"/>                      
                        <p>Los encabezados HTML son títulos o subtítulos que desea mostrar en el contenido de una página.<br /><br />
                            <h1>&lt;h1&gt;Encabezado 1&lt;/h1&gt;</h1>
                            <h2>&lt;h2&gt;Encabezado 2&lt;/h2&gt;</h2>
                            <h3>&lt;h3&gt;Encabezado 3&lt;/h3&gt;</h3>
                            <h4>&lt;h4&gt;Encabezado 4&lt;/h4&gt;</h4>
                            <h5>&lt;h5&gt;Encabezado 5&lt;/h5&gt;</h5>
                            <h6>&lt;h6&gt;Encabezado 6&lt;/h6&gt;</h6>

                        </p>
                        
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>            
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">Code Creepers</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>