<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>JavaScript</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>¿Que es JavaScript?</h2>
                    <p>¡Bienvenido al curso de JavaScript para principiantes!. En esta pagina veremos JavaScript desde
                        lo
                        basico,
                        respondiendo preguntas como "¿Qué es?" y "¿Qué puedes hacer con él?".</p>
                </div>
                <div class="post">
                    <h2>Latest Project</h2>
                    <img src="../img/post-image1.gif" alt="" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                        pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue
                        nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt </p>
                    <a href="#" class="more">more</a>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2>Una definición de alto nivel</h2>
                        <img src="../img/example.jpg" alt="" class="right" />
                        <p>JavaScript es un lenguaje de programación o de secuencias de comandos que te permite
                            implementar
                            funciones complejas en páginas web, cada vez que una página web hace algo más que sentarse
                            allí
                            y mostrar información estática para que la veas, muestra oportunas actualizaciones de
                            contenido, mapas
                            interactivos, animación de Gráficos 2D/3D, desplazamiento de máquinas reproductoras de
                            vídeo, etc.,
                            puedes apostar que probablemente JavaScript está involucrado. Es la tercera capa del pastel
                            de las
                            tecnologías web estándar, dos de las cuales (HTML y CSS) hemos cubierto en secciones
                            anteriores.</p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2>Entonces, ¿qué puede hacer realmente?</h2>
                        <img src="../img/post-image3.gif" alt="" class="right" />
                        <p>El núcleo del lenguaje JavaScript de lado del cliente consta de algunas características de
                            programación comunes que te permiten hacer cosas como: <br> <br>

                            - Almacenar valores útiles dentro de variables. <br>
                            - Operaciones sobre fragmentos de texto (conocidas como "cadenas" (strings) en
                            programación). <br>
                            - Y ejecuta código en respuesta a ciertos eventos que ocurren en una página web. <br>
                            - ¡Y mucho más! </p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <p>Sin embargo, lo que aún es más emocionante es la funcionalidad construida sobre el
                            lenguaje JavaScript de lado del cliente. Las denominadas interfaces de programación
                            de aplicaciones (API) te proporcionan superpoderes adicionales para utilizar en tu
                            código JavaScript. <br> <br>

                            Las API son conjuntos de bloques de construcción de código listos para usar que permiten
                            a un desarrollador implementar programas que de otro modo serían difíciles o imposibles
                            de implementar. Hacen lo mismo para la programación que los kits de muebles prefabricados
                            para la construcción de viviendas, es mucho más fácil tomar paneles precortados y
                            atornillarlos para hacer una estantería que elaborar el diseño tú mismo, que ir y
                            encontrar la madera correcta, cortar todos los paneles del tamaño y la forma correctos,
                            buscar los tornillos del tamaño correcto y luego júntalos para hacer una estantería.</p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>