<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Javascript - CreepyWebCamp</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Resume Website Template Free Download" name="keywords">
        <meta content="Resume Website Template Free Download" name="description">

        <link rel="shortcut icon" href="../img/favicon.ico" />
 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="../css/styleContent.css" rel="stylesheet">

    </head>


	
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <img src="../img/logo.png" alt="Image">
                </div>
                <div class="sidebar-content">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Creepy Coders</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../../index.html">Inicio<i class="fa fa-home"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i class="fa fa-address-card"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="algoritmia.html">Algoritmia<i class="fas fa-sort-numeric-up-alt"></i></a>
                                </li>	
                                <li class="nav-item">
                                    <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="repositorios.html">Repositorios<i class="fas fa-code-branch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                                </li>								
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="content">
                <!-- Header Start -->
                <div class="header" id="header">
                    <div class="content-inner-javascript">

                        <h2>JavaScript</h2>

                    </div>
                </div>
                <!-- Header End -->
                
                <!-- Large Button Start -->
                <div class="large-btn">
                    <div class="content-inner" >
                        <a class="btn" href="javaScriptEjercicios.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
                    </div>
                </div>
                <!-- Large Button End -->
                
                <div class="about" id="introduccion">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>JavaScript Introducción.</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
                                <p>¡Bienvenido al curso de JavaScript para principiantes!. En esta pagina veremos JavaScript desde
                                    lo
                                    basico,
                                    respondiendo preguntas como "¿Qué es?" y "¿Qué puedes hacer con él?".</p>
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/javascript1.jpg" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>					
				
				
                <!-- About Start -->
                <div class="about" id="about">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Un poco de Historia</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/js1.png" alt="Image">
                            </div>
                            <div class="col-md-6 col-lg-7">
                                <p>JavaScript fue desarrollado originalmente por Brendan Eich de Netscape con el nombre de Mocha,
                                    el cual fue renombrado posteriormente a LiveScript, para finalmente quedar como JavaScript.
                                    El cambio de nombre coincidió aproximadamente con el momento en que Netscape agregó
                                    compatibilidad con la tecnología Java en su navegador web Netscape Navigator en la versión 2002
                                    en diciembre de 1995. La denominación produjo confusión, dando la impresión de que el lenguaje
                                    es una prolongación de Java, y se ha caracterizado por muchos como una estrategia de
                                    mercadotecnia de Netscape para obtener prestigio e innovar en el ámbito de los nuevos lenguajes
                                    de programación web. <br> <br>
            
                                    Microsoft dio como nombre a su dialecto de JavaScript «JScript», para evitar problemas relacionadas con 
                                    la marca. JScript fue adoptado en la versión 3.0 de Internet Explorer, liberado en agosto de 1996, e 
                                    incluyó compatibilidad con el Efecto 2000 con las funciones de fecha, una diferencia de los que se basaban 
                                    en ese momento. Los dialectos pueden parecer tan similares que los términos «JavaScript» y «JScript» a 
                                    menudo se utilizan indistintamente, pero la especificación de JScript es incompatible con la de ECMA en
                                    muchos aspectos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->
				
				
                <div class="about" id="estructura">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Una definición de alto nivel</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
                                <p>JavaScript es un lenguaje de programación o de secuencias de comandos que te permite
                                    implementar
                                    funciones complejas en páginas web, cada vez que una página web hace algo más que sentarse
                                    allí
                                    y mostrar información estática para que la veas, muestra oportunas actualizaciones de
                                    contenido, mapas
                                    interactivos, animación de Gráficos 2D/3D, desplazamiento de máquinas reproductoras de
                                    vídeo, etc.,
                                    puedes apostar que probablemente JavaScript está involucrado. Es la tercera capa del pastel
                                    de las
                                    tecnologías web estándar, dos de las cuales (HTML y CSS) hemos cubierto en secciones
                                    anteriores.</p>
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/js2.png" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>			

                <div class="about" id="soporte">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Entonces, ¿qué puede hacer realmente?</h2>
                        </div>
                        <div class="row align-items-center">
						
                            <div class="col-md-12 col-lg-12">
                                <p>El núcleo del lenguaje JavaScript de lado del cliente consta de algunas características de
                                    programación comunes que te permiten hacer cosas como: <br> <br>
        
                                    - Almacenar valores útiles dentro de variables. <br>
                                    - Operaciones sobre fragmentos de texto (conocidas como "cadenas" (strings) en
                                    programación). <br>
                                    - Y ejecuta código en respuesta a ciertos eventos que ocurren en una página web. <br>
                                    - ¡Y mucho más!
                                    <br> <br>
                                    Sin embargo, lo que aún es más emocionante es la funcionalidad construida sobre el
                                    lenguaje JavaScript de lado del cliente. Las denominadas interfaces de programación
                                    de aplicaciones (API) te proporcionan superpoderes adicionales para utilizar en tu
                                    código JavaScript.
                                </p>
                                <p>
                                    Las API son conjuntos de bloques de construcción de código listos para usar que permiten
                                    a un desarrollador implementar programas que de otro modo serían difíciles o imposibles
                                    de implementar. Hacen lo mismo para la programación que los kits de muebles prefabricados
                                    para la construcción de viviendas, es mucho más fácil tomar paneles precortados y
                                    atornillarlos para hacer una estantería que elaborar el diseño tú mismo, que ir y
                                    encontrar la madera correcta, cortar todos los paneles del tamaño y la forma correctos,
                                    buscar los tornillos del tamaño correcto y luego júntalos para hacer una estantería.
                                    <br> <br>
                                    Generalmente se dividen en dos categorías: <br> <br>
                                    - Las APIs del navegador están integradas en tu navegador web y pueden exponer datos del
                                    entorno
                                    informático circundante o realizar tareas complejas y útiles. <br> <br>
                                    - Las APIs de terceros no están integradas en el navegador de forma predeterminada y, por lo
                                    general,
                                    debes obtener su código e información de algún lugar de la Web.
                                    <br><br>
                                </p>
							<div class="col-md-12 col-lg-12">
								<img src="../img/javascript5.jpg" alt="Image">
							</div>             
							</div>
							
                        </div>
                    </div>
                </div>	                
                <!-- Footer Start -->
                <div class="footer">
                    <div class="content-inner">
                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <p>Powered by <a href="#">Creepy Coders</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Start -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
        
 
    </body>
</html>