<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>JavaScript Ejercicios</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style-javascript.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h2 class="titulo">Ejemplos JavaScript</h2>
    </div>
    <div class="ejemplo1">
        <h2>Entonces, ¿qué puede hacer realmente?</h2>
        <img src="../img/javascript6.jpg" alt="" class="right" />
        <p>El núcleo del lenguaje JavaScript de lado del cliente consta de algunas características de
            programación comunes que te permiten hacer cosas como: <br> <br>

            - Almacenar valores útiles dentro de variables. <br>
            - Operaciones sobre fragmentos de texto (conocidas como "cadenas" (strings) en
            programación). <br>
            - Y ejecuta código en respuesta a ciertos eventos que ocurren en una página web. <br>
            - ¡Y mucho más!
            <br> <br>
            Sin embargo, lo que aún es más emocionante es la funcionalidad construida sobre el
            lenguaje JavaScript de lado del cliente. Las denominadas interfaces de programación
            de aplicaciones (API) te proporcionan superpoderes adicionales para utilizar en tu
            código JavaScript.
        </p>
        <div class="cl">&nbsp;</div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">CreepyWebCamp</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">Creepy Coders</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>