<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>PlainPlan</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                    <li><a href="#">Sub Level 1</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Quisque eleifend, arcu a dictum v1arius, risus neque venenatis arcu, a semper massa. Quisque
                    eleifend, arcu a dictum v1arius, risus neque venenatis arcu, a semper massa.</p>
                <a href="#" class="order-now">Order Now</a>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/javascript1.jpg" alt="" /></li>
                        <li><img src="../img/javascript2.jpg" alt="" /></li>
                        <li><img src="../img/javascript3.jpg" alt="" /></li>
                        <li><img src="../img/javascript4.jpg" alt="" /></li>
                        <li><img src="../img/javascript5.jpg" alt="" /></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="active">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>A side bar here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                        pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue
                        nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis
                        ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="post">
                    <h2>Latest Project</h2>
                    <img src="../img/post-image1.gif" alt="" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                        pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue
                        nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt </p>
                    <a href="#" class="more">more</a>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2>What is this place?</h2>
                        <img src="../img/post-image2.gif" alt="" class="right" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                            pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac
                            congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam
                            sagittis ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                            dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci
                            metus a justo. Aliquam ac tellus tempus magna, sed consectetur orci metus a justo. Aliquam
                            ac congue nunc. </p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2>Who we are?</h2>
                        <img src="../img/post-image3.gif" alt="" class="right" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                            pellentesque, nulla tellus tempus Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur
                            orci metus a justo. Aliquam ac congue nunc. </p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <h2>What we do?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet
                            pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac
                            congue nunc. Mauris a tortor ut massa egestas Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus
                            tempustincidunt fermentum diam sagittis ullamcorper.</p>
                        <a href="#" class="more left">more</a> <img src="../img/post-image4.gif" alt="" class="right" />
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>