<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>JavaScript Ejercicios</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style-javascript.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h2 class="titulo">Ejemplos JavaScript</h2>
    </div>
    <div class="ejemplo1">
        <h2>Como invocar JavaScript en HTML?</h2>
        <img src="../img/ejercicio-1.png" alt="" class="right" />
        <p>Puedes hacerlo utilizando la etiqueta &lt;script&gt; &lt;/script&gt; que debe envolver 
            todo el código JS que escribas. Se coloca al final de la etiqueta &lt;body&gt;, puesto que, esto ayuda a mejorar la velocidad de carga, ya que el 
            contenido del sitio web se cargará más rápido, y solo después de eso se procesará el JavaScript.
        </p>
        <div class="cl">&nbsp;</div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">CreepyWebCamp</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">Creepy Coders</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>