<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Lógica - Creepy Coders</title>
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="../../index.html">PlainPlan - Keep your website simple</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="../../index.html" class="active">Home</a></li>
                    <li><a href="#">Cursos</a>
                        <div class="dd-holder">
                            <div class="dd-t"></div>
                            <div class="dd">
                                <ul>
                                    <li><a href="../views/html.html">HTML</a></li>
                                    <li><a href="../views/css.html">CSS</a></li>
                                    <li><a href="../views/javaScript.html">Javascript</a></li>
                                    <li><a href="../views/logica.html">Lógica</a></li>
                                    <li><a href="../views/algoritmia.html">Algoritmia</a></li>
                                    <li><a href="../views/scrum.html">Scrum</a></li>
                                    <li><a href="../views/repositorios.html">Repositorios</a></li>
                                    <li><a href="../views/bootstrap.html">Bootstrap</a></li>
                                </ul>
                            </div>
                            <div class="dd-b"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>¿Qué es Lógica?</h2>
                <p>Es la ciencia que <b>estudia y aplica las leyes del razonamiento correcto</b>. También puede definirse como la aplicación metódica de principios, reglas y criterios de razonamiento para la demostración y derivación de proposiciones.</p>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/logica_slider1.jpg" alt=""  style="width:100%; height:100%;"/></li>
                        <li><img src="../img/logica_slider2.png" alt="" style="width:100%; height:100%;" /></li>
                        <li><img src="../img/logica_slider3.jpg" alt="" style="width:100%; height:100%" /></li>
                        <li><img src="../img/logica_slider5.png" alt="" style="width:100%; height:100%"/></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="active">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>Un poco de Historia...</h2>
                    <p>La lógica es tan antigua como la propia filosofía. La palabra <b>"lógica"</b> proviene del vocablo griego <b>logos</b>, que significa <b>"razón, ley y palabra"</b>, y que está íntimamente unida a la tarea propia de la filosofía.
                    La lógica tiene por tanto que ver con las leyes que ordenan el pensamiento y con la forma de expresarlo en el lenguaje.
                    Se considera que Aristóteles fue el fundador de la lógica, hacia el siglo IV a. C. 
                    <li>Aristóteles definió la lógica como "ciencia que estudia los razonamientos correctos", por lo que la entendía como un instrumento al servicio de las demás ciencias. </li>Cualquier ciencia (la física, por ejemplo) debe construirse con razonamientos correctos, por lo que la lógica será de gran utilidad al  establecer las formas correctas de razonamientos (de ahí que se la considere como una ciencia formal, pues no se interesa por el contenido de los razonamientos, sino por su forma).
                    Para Aristóteles, existía un tipo de razonamiento especialmente útil para la ciencia: <b>el silogismo</b>. Un silogismo es un razonamiento de tipo deductivo que consta de dos premisas y una conclusión (que se deduce necesariamente de las premisas). <br />Ejemplo de silogismo:

                    <li>(Primera premisa) Ningún idioma muerto se habla en la actualidad.</li>
                    <li>(Segunda premisa) El español se habla en la actualidad.</li>
                    <li>(Conclusión) El español no es un idioma muerto.</li></p>
                </div>
                <div class="post">
                    <h2><span id="spanEditores">¿De qué forma ha dado lugar la lógica a las computadoras?</span></h2>
                    <img src="../img/../img/logica_compu.jpg" alt=""  style="width:100%" />
                        <p>Es precisamente al plantearse la lógica como un cálculo o sistema formal axiomático cuando se pusieron las bases de los actuales computadores. Un cálculo consiste en una serie de operaciones —o pasos— ordenadas, definidas y finitas, que permiten solucionar un problema, demostrar una verdad o extraer consecuencias a partir de unos datos previamente conocidos.<br/>
                        El cálculo se realiza mediante un lenguaje simbólico bien definido (por ejemplo, el de las matemáticas: 1, 2, 3..., x, y, etcétera) y unas reglas que nos permiten operar (por ejemplo, las reglas de la aritmética: suma, resta, etc.). Lo interesante es que el cálculo es un procedimiento mecánico que puede ser, en principio, llevado a cabo por una máquina.
                        </p><p>
                        <b>Alan Mathison Turing</b>, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.                        
                        </p>
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">Lógica Introducción.</span></h2>
                        <img src="../img/logica2.jpg" alt="" class="right"  style="width:100px" />
                        <p>La idea de “razonamiento” juega un papel central en la Lógica. Un razonamiento está compuesto por dos partes: una o más premisas y una conclusión. El papel de las premisas es el de dar algún tipo de justificación a la conclusión. Entonces, cuando alguien nos pide que le demos nuestras razones para creer en una afirmación P, lo que nos está pidiendo es que hagamos explícitas las premisas que “sostienen” a P.</p>
                        <a href="./logicaEjercicios.html" class="more" style="font-size: 15px;">Da clic para los ejercicios</a>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>

                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">¿Qué es una proposición?</span></h2>
                         <img src="../img/logica1.jpg" alt="" class="left"   style="width:30%" />    
                        <p>En matemáticas se trabaja con proposiciones. El término <b>proposición</b> es tomado de la lógica y es definido como un enunciado que puede ser calificado de verdadero o falso. Se considera la proposición como un enunciado y este último como una frase u oración. Según lo anterior, por ejemplo, la expresión <b>3 < 7</b>, que es claramente una proposición verdadera del campo matemático.</p>                       
                        <div class="cl">&nbsp;</div>
                        
                    </div>
                </div>

                <div class="col">
                    <div class="post">
                        <h2><span id="spanIntroduccion">¿Qué son las tablas de la verdad?.</span></h2>
                        <img src="../img/logica_tabladelaverdad.png"  class="left"  style="width:20%" />  
                        <p>Una tabla de verdad, o tabla de valores de verdades, es una tabla que muestra el valor de verdad de una proposición compuesta, para cada combinación de verdad que se pueda asignar.</p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>

                <div class="col">
                    <div class="post">
                        <h2><span id="spanBasicos">Definiciones en el Cálculo Lógico</span></h2>
                        <p>Para establecer un Sistema formal se establecen las definiciones de los operadores. Las definiciones se harán en función del fin que se pretenda al construir el sistema que haga posible la formalización de argumentos:
                        <li>Como razonamientos deductivos lógico-lingüísticos</li>
                        <li>Como construcción de un sistema matemático puro</li>
                        <li>Como una aplicación lógica en un Circuito de conmutación</li>.</p>
                        <h4>Verdad</h4>
                        <img src="../img/logica_verdad.png" alt=""  class="right"  />   
                        <p>El valor verdadero se representa con la letra V; si se emplea notación numérica se expresa con un 1.</p>
                        <br />
                        <h4>Falso</h4>
                        <p>El valor falso F; si se emplea notación numérica se expresa con un 0.
                        <img src="../img/logica_falso.png" alt=""  class="right"  />  </p>
                        <br/><br/>
                        <h4>Variable</h4>
                        <p>Para una variable lógica A, B, C, ... pueden ser verdaderas V, o falsas F, los operadores fundamentales se definen como puede apreciarse en esta tabla:</p>
                        <img src="../img/logica_variable.png" alt=""   width="10%" />   
                        <div class="cl">&nbsp;</div><br />

                        <h4>Negación</h4>
                        <p><img src="../img/logica_negacion.png" alt="" class="left"  width="10%" /> &nbsp;Operador que se ejecuta sobre un único valor de verdad, devolviendo el valor contradictorio de la proposición considerada.</p>                          
                        <div class="cl">&nbsp;</div><br />

                        <h4>Conjución</h4>
                        <p><img src="../img/logica_conjucion.png" alt="" class="right"  width="20%" /> &nbsp;La conjunción es un operador, que actúa sobre dos valores de verdad, típicamente los valores de verdad de dos proposiciones, devolviendo el valor de verdad verdadero cuando ambas proposiciones son verdaderas, y falso en cualquier otro caso. Es decir, es verdadera cuando ambas son verdaderas.
                        En términos más simples, será verdadera cuando las dos proposiciones son verdaderas. En simbología matemática, "∧" hace referencia al conector "y"</p>                          
                        <div class="cl">&nbsp;</div>
                        <br />
                        <h4>Disyunción</h4>
                        <p><img src="../img/logica_disyuncion.png" alt="" class="left"  width="20%" /> &nbsp;La disyunción es un operador lógico que actúa sobre dos valores de verdad, típicamente los valores de verdad de dos proposiciones, devolviendo el valor de verdad verdadero cuando una de las proposiciones es verdadera, o cuando ambas lo son, y falso cuando ambas son falsas.
                        En términos más simples, será verdadera cuando por lo menos una de las proposiciones es verdadera de lo contrario será falsa.</p>                          
                        <div class="cl">&nbsp;</div>                        

                    </div>
                </div>

            </div>
            
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">Code Creepers</a> - All Rights Reserved</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>