<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lógica - Creepy Coders</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Resume Website Template Free Download" name="keywords">
        <meta content="Resume Website Template Free Download" name="description">


 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="../css/styleContent.css" rel="stylesheet">

    </head>


	
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <img src="../img/logo.png" alt="Image">
                </div>
                <div class="sidebar-content">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Creepy Coders</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../../index.html">Inicio<i class="fa fa-home"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i class="fa fa-address-card"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="algoritmia.html">Algoritmia<i class="fas fa-sort-numeric-up-alt"></i></a>
                                </li>	
                                <li class="nav-item">
                                    <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="repositorios.html">Repositorios<i class="fas fa-code-branch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                                </li>								
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="content">
                <!-- Header Start -->
                <div class="header" id="header">
                    <div class="content-inner-logica">
                        <h1>Lógica</h1>
                        <h2></h2>
                        <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</div>
                    </div>
                </div>
                <!-- Header End -->
                
                <!-- Large Button Start -->
                <div class="large-btn">
                    <div class="content-inner" >
                        <a class="btn" href="logicaEjercicios.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
                    </div>
                </div>
                <!-- Large Button End -->
                
                <div class="about" id="introduccion">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Lógica Introducción.</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
							<p>La idea de “razonamiento” juega un papel central en la Lógica. Un razonamiento está compuesto por dos partes: una o más premisas y una conclusión. El papel de las premisas es el de dar algún tipo de justificación a la conclusión. Entonces, cuando alguien nos pide que le demos nuestras razones para creer en una afirmación P, lo que nos está pidiendo es que hagamos explícitas las premisas que “sostienen” a P.
							</p>
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/logica2.jpg" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>					
				
				
                <!-- About Start -->
                <div class="about" id="about">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Un poco de Historia</h2>
                        </div>
                        <div class="row align-items-center">

                            <div class="col-md-12 col-lg-12">
							<p>La lógica es tan antigua como la propia filosofía. La palabra <b>"lógica"</b> proviene del vocablo griego <b>logos</b>, que significa <b>"razón, ley y palabra"</b>, y que está íntimamente unida a la tarea propia de la filosofía.
							La lógica tiene por tanto que ver con las leyes que ordenan el pensamiento y con la forma de expresarlo en el lenguaje.
							Se considera que Aristóteles fue el fundador de la lógica, hacia el siglo IV a. C. 
							<li>Aristóteles definió la lógica como "ciencia que estudia los razonamientos correctos", por lo que la entendía como un instrumento al servicio de las demás ciencias. </li>Cualquier ciencia (la física, por ejemplo) debe construirse con razonamientos correctos, por lo que la lógica será de gran utilidad al  establecer las formas correctas de razonamientos (de ahí que se la considere como una ciencia formal, pues no se interesa por el contenido de los razonamientos, sino por su forma).
							Para Aristóteles, existía un tipo de razonamiento especialmente útil para la ciencia: <b>el silogismo</b>. Un silogismo es un razonamiento de tipo deductivo que consta de dos premisas y una conclusión (que se deduce necesariamente de las premisas). <br />Ejemplo de silogismo:

							<li>(Primera premisa) Ningún idioma muerto se habla en la actualidad.</li>
							<li>(Segunda premisa) El español se habla en la actualidad.</li>
							<li>(Conclusión) El español no es un idioma muerto.</li></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->
				
				
                <div class="about" id="estructura">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿Qué es una proposición?</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
								<p>En matemáticas se trabaja con proposiciones. El término <b>proposición</b> es tomado de la lógica y es definido como un enunciado que puede ser calificado de verdadero o falso. Se considera la proposición como un enunciado y este último como una frase u oración. Según lo anterior, por ejemplo, la expresión <b>3 < 7</b>, que es claramente una proposición verdadera del campo matemático.</p>                       
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/logica1.jpg" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>			

                <div class="about" id="soporte">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿Qué son las tablas de la verdad?</h2>
                        </div>
                        <div class="row align-items-center">
						
                            <div class="col-md-12 col-lg-12">
							<p>Una tabla de verdad, o tabla de valores de verdades, es una tabla que muestra el valor de verdad de una proposición compuesta, para cada combinación de verdad que se pueda asignar.</p>
							<div class="col-md-4 col-lg-4">
								<img src="../img/logica_tabladelaverdad.png" alt="Image">
							</div>

							</div>
							
                        </div>
                    </div>
                </div>	

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Definiciones en el Cálculo Lógico</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
							<p>Para establecer un Sistema formal se establecen las definiciones de los operadores. Las definiciones se harán en función del fin que se pretenda al construir el sistema que haga posible la formalización de argumentos:
							<li>Como razonamientos deductivos lógico-lingüísticos</li>
							<li>Como construcción de un sistema matemático puro</li>
							<li>Como una aplicación lógica en un Circuito de Conmutación</li></p>
							<h4>Verdad</h4>
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_verdad.png" alt=""  class="right"  />   
							</div>
							<p>El valor verdadero se representa con la letra V; si se emplea notación numérica se expresa con un 1.</p>
							<br />
							<h4>Falso</h4>
							<p>El valor falso F; si se emplea notación numérica se expresa con un 0.
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_falso.png" alt=""  class="right"  />  </p>
							</div>
							<br/><br/>
							<h4>Variable</h4>
							<p>Para una variable lógica A, B, C, ... pueden ser verdaderas V, o falsas F, los operadores fundamentales se definen como puede apreciarse en esta tabla:</p>
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_variable.png" alt=""   width="20%" />   
							</div>
							<div class="cl">&nbsp;</div><br />

							<h4>Negación</h4>
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_negacion.png" alt="" class="left"  width="20%" />                           
							</div>
							<p>Operador que se ejecuta sobre un único valor de verdad, devolviendo el valor contradictorio de la proposición considerada.</p>
							<br />

							<h4>Conjución</h4>
							
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_conjucion.png" alt="" class="right"  width="20%" /> 
							</div>
							<p>La conjunción es un operador, que actúa sobre dos valores de verdad, típicamente los valores de verdad de dos proposiciones, devolviendo el valor de verdad verdadero cuando ambas proposiciones son verdaderas, y falso en cualquier otro caso. Es decir, es verdadera cuando ambas son verdaderas. En términos más simples, será verdadera cuando las dos proposiciones son verdaderas. En simbología matemática, "∧" hace referencia al conector "y"</p>                          
							<div class="cl">&nbsp;</div>
							<br />
							<h4>Disyunción</h4>
							
							<div class="col-md-2 col-lg-2">
								<img src="../img/logica_disyuncion.png" alt="" class="left"  width="20%" />
							</div>
							<p>La disyunción es un operador lógico que actúa sobre dos valores de verdad, típicamente los valores de verdad de dos proposiciones, devolviendo el valor de verdad verdadero cuando una de las proposiciones es verdadera, o cuando ambas lo son, y falso cuando ambas son falsas.
							En términos más simples, será verdadera cuando por lo menos una de las proposiciones es verdadera de lo contrario será falsa.</p>                          
							
                        </div>
                    </div>
                </div>

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿De qué forma ha dado lugar la lógica a las computadoras?</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
								<p>Es precisamente al plantearse la lógica como un cálculo o sistema formal axiomático cuando se pusieron las bases de los actuales computadores. Un cálculo consiste en una serie de operaciones —o pasos— ordenadas, definidas y finitas, que permiten solucionar un problema, demostrar una verdad o extraer consecuencias a partir de unos datos previamente conocidos.<br/>
								El cálculo se realiza mediante un lenguaje simbólico bien definido (por ejemplo, el de las matemáticas: 1, 2, 3..., x, y, etcétera) y unas reglas que nos permiten operar (por ejemplo, las reglas de la aritmética: suma, resta, etc.). Lo interesante es que el cálculo es un procedimiento mecánico que puede ser, en principio, llevado a cabo por una máquina.
								</p><p>
								<b>Alan Mathison Turing</b>, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.                        
								</p>
								<div class="col-md-7 col-lg-7">
									<img src="../img/logica_compu.jpg" alt="Image">
								</div><br />													
							</div>							
                        </div>
                    </div>
                </div>					
                
 
                
                <!-- Footer Start -->
                <div class="footer">
                    <div class="content-inner">
                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <p>Powered by <a href="#">Creepy Coders</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Start -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
        
 
    </body>
</html>
