<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Repositorios</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div id="header mb-1">
            <div class="shell">
                <h1 id="logo" class="notext"><a href="../../index.html">PlainPlan - Keep your website simple</a></h1>
                <div id="navigation">
                    <ul>
                        <li><a href="../../index.html" class="active">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2>Repositorios</h2>
                <p>Existen muchos Sistemas de Control de Versiones siendo algunos de los más conocidos Git, Subversion, Mercurial y Baazar</p>
                <!-- <a href="#" class="order-now">Order Now</a> -->
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/repositorios/git_logo.png" alt="" style="height: 100%; width: 100%;"/></li>
                        <li><img src="../img/repositorios/subversion_logo.png" alt="" style="height: 100%; width: 100%;"/></li>
                        <li><img src="../img/repositorios/mercurial_logo.png" alt="" style="height: 100%; width: 100%;"/></li>
                        <li><img src="../img/repositorios/bazaar_logo.png" alt="" style="height: 100%; width: 100%;"/></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                    <h2>¿ Que es git ?</h2>
                    <p>Git es un software de control de versiones diseñado por Linus Torvalds,
                        pensando en la eficiencia, la confiabilidad y compatibilidad del mantenimiento
                        de versiones de aplicaciones cuando estas tienen un gran número de archivos
                        de código fuente. Su propósito es llevar registro de los cambios en archivos
                        de computadora incluyendo coordinar el trabajo que varias personas realizan sobre
                        archivos compartidos en un repositorio de código.</p>
                </div>
                <div class="post">
                    <h2>Configurar git - identidad</h2>
                    <img src="../img/repositorios/git_logo.png" alt="" style="height: 100%; width: 100%;"/>
                    <p>Lo primero que deberás hacer cuando instales Git es establecer tu nombre de usuario y 
                        dirección de correo electrónico. Esto es importante porque los "commits" de Git usan 
                        esta información, y es introducida de manera inmutable en los commits que envías </p>
                    <p>
                        $ git config --global user.name "John Doe"
                    </p>
                    <p>
                        $ git config --global user.email johndoe@example.com
                    </p>
                    
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2>Historia de git</h2>
                        <p>En el 2005, la relación entre la comunidad que desarrollaba el kernel de Linux y la 
                            compañía que desarrollaba BitKeeper se vino abajo y la herramienta dejó de ser ofrecida 
                            de manera gratuita. Esto impulsó a la comunidad de desarrollo de Linux (y en particular 
                            a Linus Torvalds, el creador de Linux) a desarrollar su propia herramienta basada en algunas 
                            de las lecciones que aprendieron mientras usaban BitKeeper. </p>
                        <div class="cl">&nbsp;</div>
                        <!-- <a href="#" class="more">more</a> -->
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2>La Línea de Comandos</h2>
                        <p>Existen muchas formas de usar Git. Por un lado tenemos las herramientas originales de línea de comandos,
                             y por otro lado tenemos una gran variedad de interfaces de usuario con distintas capacidades. La línea de comandos es el único lugar en donde 
                             puedes ejecutar todos los comandos de Git - la mayoría de interfaces gráficas de usuario solo implementan 
                             una parte de las características de Git por motivos de simplicidad.</p>
                        <div class="cl">&nbsp;</div>
                        <a href="#" class="more">more</a>
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <h2>Fundamentos</h2>
                        <p>Entonces, ¿qué es Git en pocas palabras? Es muy importante entender bien esta sección, 
                            porque si entiendes lo que es Git y los fundamentos de cómo funciona, probablemente 
                            te será mucho más fácil usar Git efectivamente. A medida que aprendas Git, intenta olvidar 
                            todo lo que posiblemente conoces acerca de otros VCS como Subversion y Perforce. Hacer esto 
                            te ayudará a evitar confusiones sutiles a la hora de utilizar la herramienta. 
                            Git almacena y maneja la información de forma muy diferente a esos otros sistemas, a 
                            pesar de que su interfaz de usuario es bastante similar. Comprender esas diferencias 
                            evitará que te confundas a la hora de usarlo.</p>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
                <a href="ejerciciosrepositorios.html" class="more left" style="padding-left: 120px; font-size: 25px;">Clic para realizar los ejercicios</a>

            </div>
            <div class="cl">&nbsp;</div>
        </div>
        
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>

</html>