<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Metodologia SCRUM</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Resume Website Template Free Download" name="keywords">
    <meta content="Resume Website Template Free Download" name="description">

    <link rel="shortcut icon" href="../img/favicon.ico" />

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="../css/styleContent.css" rel="stylesheet">

</head>
<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="../img/logo.png" alt="Image">
        </div>
        <div class="sidebar-content">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">Creepy Coders</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Inicio<i class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i
                                    class="fa fa-address-card"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="algoritmia.html">Algoritmia<i
                                    class="fas fa-sort-numeric-up-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="repositorios.html">Repositorios<i
                                    class="fas fa-code-branch"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div class="content">
        <!-- Header Start -->
        <div class="header" id="header">
            <div class="content-inner-scrum">

                <h1>SCRUM</h1>
                <h2></h2>
                <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic
                    Designer</div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Large Button Start -->
        <div class="large-btn">
            <div class="content-inner">
                <a class="btn" href="./ejerciciosScrum.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
            </div>
        </div>
        <!-- Large Button End -->

        <div class="about" id="introduccion">
            <div class="content-inner">
                <div class="content-header">
                    <h2>¿Qué es SCRUM?</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-7">
                        <p>Es una metodología de trabajo ágil que tiene como finalidad la entrega de valor en períodos
                            cortos de tiempo y para ello se basa en tres pilares: la transparencia, inspección y
                            adaptación. Esto permite al cliente, junto con su equipo comercial, insertar el producto en
                            el mercado pronto, rápido y empezar a obtener ventas.
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <img src="../img/logoscrum.PNG" alt="Image-Scrum">
                    </div>
                </div>
            </div>
        </div>


        <div class="about" id="about">
            <div class="content-inner">
                <div class="content-header">
                    <h2>Un poco de Historia</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <img src="../img/rugbyscrum.jfif" alt="Image">
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <p>
                            El concepto de Scrum tiene su origen en un estudio de 1986 sobre los nuevos procesos de
                            desarrollo utilizados en productos exitosos en Japón y los Estados Unidos (cámaras de fotos
                            de Canon, fotocopiadoras de Xerox, automóviles de Honda, ordenadores de HP y otros). Los
                            equipos que desarrollaron estos productos partían de requisitos muy generales, así como
                            novedosos, y debían salir al mercado en mucho menos del tiempo del que se tardó en lanzar
                            productos anteriores. Estos equipos seguían patrones de ejecución de proyecto muy similares.
                            En este estudio se comparaba la forma de trabajo de estos equipos altamente productivos y
                            multidisciplinares con la colaboración entre los jugadores de Rugby y su formación de Scrum
                        </p>
                        <br>
                        <p>
                            En 1993 se realizó el primer Scrum para desarrollo de software y en 1995 el proceso fue
                            formalizado. En 2001 un grupo de personas muy relevantes en lo que empezaba a ser el
                            desarrollo ágil escribieron los valores fundamentales de los procesos ágiles
                        </p>
                        <br>
                        <p>
                            Desde 1995 miles de proyectos en todo el mundo han utilizado Scrum para el desarrollo de
                            productos, tanto en empresas pequeñas, “startups” con tan sólo 3 personas desarrollando un
                            producto, como en multinacionales
                        </p>
                        <br>
                        <p>
                            En la actualidad, Scrum se está utilizando en diferentes tipos de negocio y, especialmente,
                            en el desarrollo de software.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="about" id="estructura">
            <div class="content-inner">
                <div class="content-header">
                    <h2>¿Para que se utiliza Scrum en el desarrollo de Software?.</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-7">
                        <p>Debido a que Scrum es una metodología ágil y flexible, se ha tomado como base para gestionar
                            el desarrollo de software, cuyo principal objetivo es maximizar el retorno de la inversión
                            para su empresa. Ya que se basa en construir primero la funcionalidad de mayor valor para el
                            cliente y en los principios de inspección continua, adaptación, auto-gestión e innovación.
                        </p>
                        <br>
                        <p>
                            Con la metodología Scrum el cliente se entusiasma y se compromete con el proyecto dado que
                            lo ve crecer iteración a iteración. Asimismo le permite en cualquier momento realinear el
                            software con los objetivos de negocio de su empresa, ya que puede introducir cambios
                            funcionales o de prioridad en el inicio de cada nueva iteración sin ningún problema.
                        </p>
                        <br>
                        <p>
                            Esta metodología de trabajo promueve la innovación, motivación y compromiso del equipo que
                            forma parte del proyecto, por lo que los profesionales encuentran un ámbito propicio para
                            desarrollar sus capacidades.
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <img src="../img//valoresscrum.png" alt="Image-valores">
                    </div>
                </div>
            </div>
        </div>

        <div class="about" id="soporte">
            <div class="content-inner">
                <div class="content-header">
                    <h2>Proceso.</h2>
                </div>
                <div class="row align-items-center">

                    <div class="col-md-12 col-lg-12">
                        <p>
                            El desarrollo se realiza de forma iterativa e incremental. Cada iteración, denominada
                            Sprint, tiene una duración preestablecida de entre 2 y 4 semanas, obteniendo como resultado
                            una versión del software con nuevas prestaciones listas para ser usadas. En cada nuevo
                            Sprint, se va ajustando la funcionalidad ya construida y se añaden nuevas prestaciones
                            priorizándose siempre aquellas que aporten mayor valor de negocio.
                        </p>
                        <div class="col-md-12 col-lg-12">
                            <img src="../img/procesoscrum.PNG" alt="Image-proceso">
                        </div>
                        <p>
                        <ul type="square">
                            <li><strong>Product Backlog:</strong> Conjunto de requisitos demoninados historias descritos
                                en un lenguaje no técnico y priorizados por valor de negocio, o lo que es lo mismo, por
                                retorno de inversión considerando su beneficio y coste. Los requisitos y prioridades se
                                revisan y ajustan durante el curso del proyecto a intervalos regulares.</li>
                            <li><strong>Sprint Planning:</strong> Reunión durante la cual el Product Owner presenta las
                                historias del backlog por orden de prioridad. El equipo determina la cantidad de
                                historias que puede comprometerse a completar en ese sprint, para en una segunda parte
                                de la reunión, decidir y organizar cómo lo va a conseguir.</li>
                            <li><strong>Sprint:</strong> Iteración de duración prefijada durante la cual el equipo
                                trabaja para convertir las historias del Product Backlog a las que se ha comprometido,
                                en una nueva versión del software totalmente operativo.</li>
                            <li><strong>Sprint Backlog:</strong> Lista de las tareas necesarias para llevar a cabo las
                                historias del sprint.</li>
                            <li><strong>Daily sprint meeting: </strong> Reunión diaria de cómo máximo 15 min. en la que
                                el equipo se sincroniza para trabajar de forma coordinada. Cada miembro comenta que hizo
                                el día anterior, que hará hoy y si hay impedimentos.</li>
                            <li><strong>Demo y retrospectiva:</strong> Reunión que se celebra al final del sprint y en
                                la que el equipo presenta las historias conseguidas mediante una demonstración del
                                producto. Posteriormente, en la retrospectiva, el equipo analiza qué se hizo bien, qué
                                procesos serían mejorables y discute acerca de cómo perfeccionarlos.</li>

                        </ul>
                        </p>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="about" id="selectores">
            <div class="content-inner">
                <div class="content-header">
                    <h2>¿Cuales son los roles en el equipo Scrum?.</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-12">
                        <p>Los equipos de Scrum son auto-organizados y multifuncionales. Donde cada uno es responsable
                            de unas tareas determinadas y de terminarlas en los tiempos acordados. Esto garantiza la
                            entrega de valor del equipo completo, sin necesidad de ayuda o la supervisión minuciosa de
                            otros miembros de la organización.</p>
                        <div class="col-md-12 col-lg-12" align="center">
                            <img src="../img/rolesscrum.PNG" style="width: 500px; height: 500px;text-align: center;"
                                alt="Image-roles">
                        </div>
                        <p>
                            En Scrum existen 3 roles muy importantes :
                        </p>
                        <br>
                        <p>
                        <ul>
                            <li><strong>Product Owner: </strong> Representante de lso accionistas y clientes que usan el
                                software. Se focaliza en la parte de negocio y el es responsable del ROI del proyecto
                                (entregar un valor superior al dinero invertido). Traslada la visión del proyecto al
                                equipo, formaliza las prestaciones en historias a incorporar en el Product Backlog y las
                                reprioriza de forma regular. </li>
                        </ul>
                        <ul>
                            <li><strong>Scrum Master: </strong> Persona que lidera al equipo guiándolo para que cumpla
                                las reglas y procesos de la metodología. Gestiona la reducción de impedimentos del
                                proyecto y trabaja con el Product Owner para maximizar el ROI. </li>
                        </ul>
                        <ul>
                            <li><strong>Equipo de desarrollo: </strong>Grupo de profesionales con los conocimientos
                                técnicos necesarios y que desarrollan el proyecto de manera conjunta llevando a cabo las
                                historias a las que se comprometen al inicio de cada sprint.</li>
                        </ul>
                        </p>
                    </div>

                </div>
            </div>
        </div>


        <div class="education" id="education">
            <div class="content-inner">
                <div class="content-header">
                    <h2>Pros y Contras</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="edu-col">
                            <h3>Ventajas</h3>
                            <p>
                            <ul>
                                <li>Gestión de las expectativas del usuario. Los usuarios pueden participar en cada una
                                    de las etapas del proceso y proponer soluciones. De hecho, el proceso en su conjunto
                                    está pensado para un tipo de evaluación conjunta.</li>
                                <li>Resultados anticipados. Cada etapa del proceso arroja una serie de resultados. No es
                                    necesario, por tanto, que el cliente espere hasta el final para ver el resultado.
                                </li>
                                <li>Flexibilidad y adaptación a los contextos. Se adapta a cualquier contexto, área o
                                    sector de la gestión. Es decir, no es una técnica exclusiva de ninguna disciplina.
                                </li>
                                <li>Gestión sistemática de riesgos. Del mismo modo, los problemas que aparecen durante
                                    los procesos de gestión que pueden afectar a un proyecto son gestionados en el mismo
                                    momento de su aparición. Esto es posible debido a que la intervención de los equipos
                                    de trabajo puede ser inmediata.</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="edu-col">
                            <h3>Desventajas</h3>
                            <p>
                            <ul>
                                <li>Funciona más que nada con equipos reducidos. Las empresas grandes, por ejemplo,
                                    deben estar sectorizadas o divididas en grupos que tengan objetivos concretos. De lo
                                    contrario, en la práctica, el efecto de la técnica se perderá.</li>
                                <li>Requiere una exhaustiva definición de las tareas y sus plazos. Cuando estos dos
                                    aspectos no se definen adecuadamente, Scrum se desvanece. Recuerda que la división
                                    del trabajo en cada etapa (y de éstas en tareas específicas) son la esencia de esta
                                    metodología.</li>
                                <li>Exige que quienes la utilicen cuenten con una alta cualificación o formación. No es
                                    una modalidad de gestión propia de grupos junior o que apenas estén en proceso de
                                    formación. Gran parte del éxito de Scrum radica en la experiencia que aportan los
                                    profesionales de los equipos, quienes por lo general acumulan años de experiencia.
                                </li>
                            </ul>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer Start -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="content-inner">
                <div class="row align-items-center">

                    <div class="col-md-12">
                        <p class="lf">2021 <a href="#">CreepyWebCamp</a> - made by CreepyCoders</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Start -->
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>



</body>

</html>