<!DOCTYPE html>
<html>

<head>
    <title>Metodología SRUM</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <script src="../js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="../js/js-func.js" type="text/javascript"></script>

</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="header">
        <div class="shell">
            <h1 id="logo" class="notext"><a href="#"></a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slider">
        <div class="shell">
            <div class="slider-left">
                <h2><span id="queesScrum">¿Qué es SCRUM?</span> </h2>
                <p>Es una metodología de trabajo ágil que tiene como finalidad la entrega de valor en períodos cortos de tiempo y para ello se basa en tres pilares: la transparencia, inspección y adaptación. Esto permite al cliente, junto con su equipo comercial, insertar el producto en el mercado pronto, rápido y empezar a obtener ventas.  </p>
            </div>
            <div class="slider-right">
                <div class="slider-content">
                    <ul>
                        <li><img src="../img/metodologia-scrum-img1.jpg" width="656" height="225" alt="" /></li>
                        <li><img src="../img/metodologia-scrum-img2.jpg" width="656" height="255" alt="" /></li>
                        <li><img src="../img/metodologia-scrum-img3.jpg" width="656" height="255" alt="" /></li>
                        <li><img src="../img/metodologia-scrum-img4.jpg" width="656" height="255" alt="" /></li>
                        <li><img src="../img/metodologia-scrum-img5.jpg" width="656" height="255" alt="" /></li>
                    </ul>
                </div>
                <div class="slider-nav">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="active">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="shell">
            <div id="sidebar">
                <div class="text-container">
                   <h2>Contenido</h2>
                   <a href="#queesScrum" class="more"><p>SCRUM</p></a>
                   <a href="#historiaScrum" class="more"><p>Historia</p></a>
                   <a href="#usoScrum" class="more"><p>Para que se utiliza</p></a>
                   <a href="#procesosScrum" class="more"><p>Proceso</p></a>
                   <a href="#rolesScrum" class="more"><p>Roles</p></a>
                   <a href="#ventajasScrum" class="more"><p>Ventajas</p></a>
                   <a href="#desventajasScrum" class="more"><p>Desventajas</p></a>
                </div>
                <div class="post">
                    <h2> <span id="historiaScrum">Historia de la metodología Scrum</span> </h2>
                    <br>
                    <p>
                        El concepto de Scrum tiene su origen en un estudio de 1986 sobre los nuevos procesos de desarrollo utilizados en productos exitosos en Japón y los Estados Unidos (cámaras de fotos de Canon, fotocopiadoras de Xerox, automóviles de Honda, ordenadores de HP y otros). Los equipos que desarrollaron estos productos partían de requisitos muy generales, así como novedosos, y debían salir al mercado en mucho menos del tiempo del que se tardó en lanzar productos anteriores. Estos equipos seguían patrones de ejecución de proyecto muy similares. En este estudio se comparaba la forma de trabajo de estos equipos altamente productivos y multidisciplinares con la colaboración entre los jugadores de Rugby y su formación de Scrum
                    </p>
                    <br>
                    <p>
                        En 1993 se realizó el primer Scrum para desarrollo de software y en 1995 el proceso fue formalizado. En 2001 un grupo de personas muy relevantes en lo que empezaba a ser el desarrollo ágil escribieron los valores fundamentales de los procesos ágiles 
                    </p>
                    <br>
                    <p>
                        Desde 1995 miles de proyectos en todo el mundo han utilizado Scrum para el desarrollo de productos, tanto en empresas pequeñas, “startups” con tan sólo 3 personas desarrollando un producto, como en multinacionales
                    </p>
                    <br>
                    <p>
                        En la actualidad, Scrum se está utilizando en diferentes tipos de negocio y, especialmente, en el desarrollo de software.
                    </p>
                    <br>
                    <img src="../img/rugbyscrum.jfif" alt="" />
                    <p>Formación scrum en partido de rugby</p> 
                </div>
            </div>
            <div id="content">
                <div class="col">
                    <div class="post">
                        <h2><span id="usoScrum">¿Para que se utiliza Scrum en el desarrollo de Software?</span> </h2>
                        <img src="../img/logoscrum.PNG" alt="" width="120" height="75" class="right" />
                        <p>Debido a que Scrum es una metodología ágil y flexible, se  ha tomado como base para gestionar el desarrollo de software, cuyo principal objetivo es maximizar el retorno de la inversión para su empresa. Ya que se basa en construir primero la funcionalidad de mayor valor para el cliente y en los principios de inspección continua, adaptación, auto-gestión e innovación. </p>
                        <br>
                        <p>
                            Con la metodología Scrum el cliente se entusiasma y se compromete con el proyecto dado que lo ve crecer iteración a iteración. Asimismo le permite en cualquier momento realinear el software con los objetivos de negocio de su empresa, ya que puede introducir cambios funcionales o de prioridad en el inicio de cada nueva iteración sin ningún problema.
                        </p>
                        <br>
                        <p>
                            Esta metodología de trabajo promueve la innovación, motivación y compromiso del equipo que forma parte del proyecto, por lo que los profesionales encuentran un ámbito propicio para desarrollar sus capacidades. 
                        </p>
                        <br>
                        <h2><span id="procesoScrum">Procesos</span></h2>
                        <p>
                            El desarrollo se realiza de forma iterativa e incremental. Cada iteración, denominada Sprint, tiene una duración preestablecida de entre 2 y 4 semanas, obteniendo como resultado una versión del software con nuevas prestaciones listas para ser usadas. En cada nuevo Sprint, se va ajustando la funcionalidad ya construida y se añaden nuevas prestaciones priorizándose siempre aquellas que aporten mayor valor de negocio.
                        </p>
                        <br>
                        <div align="center">
                        <img src="../img/procesoscrum.PNG" alt="proceso-img" />
                    </div>
                        <p>
                            <ul type="square">
                                <li><strong>Product Backlog:</strong> Conjunto de requisitos demoninados historias descritos en un lenguaje no técnico y priorizados por valor de negocio, o lo que es lo mismo, por retorno de inversión considerando su beneficio y coste. Los requisitos y prioridades se revisan y ajustan durante el curso del proyecto a intervalos regulares.</li>
                                <li><strong>Sprint Planning:</strong> Reunión durante la cual  el Product Owner presenta las historias del backlog por orden de prioridad. El equipo determina la cantidad de historias que puede comprometerse a completar en ese sprint, para en una segunda parte de la reunión, decidir y organizar cómo lo va a conseguir.</li>
                                <li><strong>Sprint:</strong> Iteración de duración prefijada durante la cual el equipo trabaja para convertir las historias del Product Backlog a las que se ha comprometido, en una nueva versión del software totalmente operativo.</li>
                                <li><strong>Sprint Backlog:</strong> Lista de las tareas necesarias para llevar a cabo las historias del sprint.</li>
                                <li><strong>Daily sprint meeting: </strong>  Reunión diaria de cómo máximo 15 min. en la que el equipo se sincroniza para trabajar de forma coordinada. Cada miembro comenta que hizo el día anterior, que hará hoy y si hay impedimentos.</li>
                                <li><strong>Demo y retrospectiva:</strong> Reunión que se celebra al final del sprint y en la que el equipo presenta las historias conseguidas mediante una demonstración del producto. Posteriormente, en la retrospectiva, el equipo analiza qué se hizo bien, qué procesos serían mejorables y discute acerca de cómo perfeccionarlos.</li>
                                
                            </ul>
                        </p>
                        <br>
                        <h2><span id="rolesScrum">¿Cuales son los roles en el equipo Scrum?</span></h2>
                        <p>Los equipos de Scrum son auto-organizados y multifuncionales. Donde cada uno es responsable de unas tareas determinadas y de terminarlas en los tiempos acordados. Esto garantiza la entrega de valor del equipo completo, sin necesidad de ayuda o la supervisión minuciosa de otros miembros de la organización.</p>
                        <br>
          <p>
            En Scrum existen 3 roles muy importantes : 
          </p>
          <br>
          <p>
            <ul><li><strong>Product Owner: </strong> Representante de lso accionistas y clientes que usan el software. Se focaliza en la parte de negocio y el es responsable del ROI del proyecto (entregar un valor superior al dinero invertido). Traslada la visión del proyecto al equipo, formaliza las prestaciones en historias a incorporar en el Product Backlog y las reprioriza de forma regular. </li></ul>
            <ul><li><strong>Scrum Master: </strong> Persona que lidera al equipo guiándolo para que cumpla las reglas y procesos de la metodología. Gestiona la reducción de impedimentos del proyecto y trabaja con el Product Owner para maximizar el ROI. </li></ul>
            <ul><li><strong>Equipo de desarrollo: </strong>Grupo de profesionales con los conocimientos técnicos necesarios y que desarrollan el proyecto de manera conjunta llevando a cabo las historias a las que se comprometen al inicio de cada sprint.</li></ul>
          </p>
          <div align="center">
          <img src="../img/rolesscrum.PNG" alt="roles-img" />
        </div>
                        <div class="cl">&nbsp;</div>
                     <p font-size="25px"><a href="./ejerciciosScrum.html" class="more" >Test de SCRUM</a></p>   
                    </div>
                </div>
                <div class="col cols-2">
                    <div class="post">
                        <h2><span id="ventajasScrum">Ventajas</span></h2>
                       
                        <p>
                        <ul>
                            <li>Gestión de las expectativas del usuario. Los usuarios pueden participar en cada una de las etapas del proceso y proponer soluciones. De hecho, el proceso en su conjunto está pensado para un tipo de evaluación conjunta.</li>
                            <li>Resultados anticipados. Cada etapa del proceso arroja una serie de resultados. No es necesario, por tanto, que el cliente espere hasta el final para ver el resultado.</li>
                            <li>Flexibilidad y adaptación a los contextos. Se adapta a cualquier contexto, área o sector de la gestión. Es decir, no es una técnica exclusiva de ninguna disciplina.</li>
                            <li>Gestión sistemática de riesgos. Del mismo modo, los problemas que aparecen durante los procesos de gestión que pueden afectar a un proyecto son gestionados en el mismo momento de su aparición. Esto es posible debido a que la intervención de los equipos de trabajo puede ser inmediata.</li>
                        </ul>
                    </p>
                        <div class="cl">&nbsp;</div>
                    
                    </div>
                </div>
                <div class="col cols-2 last">
                    <div class="post">
                        <h2><span id="desventajasScrum">Desventajas</span></h2>
                        <p>
                        <ul>
                            <li>Funciona más que nada con equipos reducidos. Las empresas grandes, por ejemplo, deben estar sectorizadas o divididas en grupos que tengan objetivos concretos. De lo contrario, en la práctica, el efecto de la técnica se perderá.</li>
                            <li>Requiere una exhaustiva definición de las tareas y sus plazos. Cuando estos dos aspectos no se definen adecuadamente, Scrum se desvanece. Recuerda que la división del trabajo en cada etapa (y de éstas en tareas específicas) son la esencia de esta metodología.</li>
                            <li>Exige que quienes la utilicen cuenten con una alta cualificación o formación. No es una modalidad de gestión propia de grupos junior o que apenas estén en proceso de formación. Gran parte del éxito de Scrum radica en la experiencia que aportan los profesionales de los equipos, quienes por lo general acumulan años de experiencia.</li>
                        </ul>    
                        </p>
                        <br>
                        <div class="cl">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        <div class="shell">
            <p class="lf">Copyright &copy; 2021 <a href="#">CreepyCoders</a> - All Rights Reserved</p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>
</html>