
#footer {
	height:87px;
	font-size:11px;
}
#footer .shell {
	padding:26px 0 0 0;
}
#footer, #footer a {
	color:#7f7f7f;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}
h3{
	padding-top: 42px;
	font-size: 40px;
	text-align: center;
}
.temasHover:hover {
	background-color: #d8d5d5;
}
.enlaces {
	text-decoration:none;
	color:black;
}
.enlaces:hover {
	text-decoration:none;
	color:black;
}

.enlaces {
	position: relative;
	display: block;
	padding: 5px;
}

.enlaces::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
	z-index: 1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.enlaces:hover::before {
	transform: scaleX(1);
}

/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.enlaces[data-animation="to-left"] .enlaces::before {
	transform-origin: right;
}