<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Repositorios</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


        <!-- Template Stylesheet -->
        <link href="../css/styleContent.css" rel="stylesheet">

    </head>


	
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <img src="../img/logo.png" alt="Image">
                </div>
                <div class="sidebar-content">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">Creepy Coders</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Inicio<i class="fa fa-home"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="quienes_somos.html">Acerca de nosotros<i class="fa fa-address-card"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="html.html">HTML<i class="fab fa-html5"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="css.html">CSS<i class="fab fa-css3-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javaScript.html">JavaScript<i class="fab fa-js-square"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logica.html">Lógica<i class="fas fa-infinity"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="algoritmia.html">Algoritmia<i class="fas fa-sort-numeric-up-alt"></i></a>
                                </li>	
                                <li class="nav-item">
                                    <a class="nav-link" href="scrum.html">Scrum<i class="fab fa-fulcrum"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="repositorios.html">Repositorios<i class="fas fa-code-branch"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="bootstrap.html">Boostrap<i class="fab fa-bootstrap"></i></a>
                                </li>								
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="content">
                <!-- Header Start -->
                <div class="header" id="header">
                    <div class="content-inner-css">
                        <h1>Git</h1>
                        <h2></h2>
                        <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</div>
                    </div>
                </div>
                <!-- Header End -->
                
                <!-- Large Button Start -->
                <div class="large-btn">
                    <div class="content-inner" >
                        <a class="btn" href="ejerciciosrepositorios.html"><i class="fa fa-hands-helping"></i>Ejercicios</a>
                    </div>
                </div>
                <!-- Large Button End -->
                
                <div class="about" id="introduccion">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Repositorios</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-12">
							    <p>Existen muchos Sistemas de Control de Versiones siendo algunos de los más conocidos Git, Subversion, Mercurial y Baazar</p>
							</div>
                            <!-- <div class="col-md-6 col-lg-5">
                                <img src="../img/repositorios/git_logo.png" alt="Image">
                            </div>						 -->
                        </div>
                    </div>
                </div>					
				
				
                <!-- About Start -->
                <div class="about" id="about">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Un poco de Historia</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/repositorios/torval.jpg" alt="Image">
                            </div>
                            <div class="col-md-6 col-lg-7">
							<p>En el 2005, la relación entre la comunidad que desarrollaba el kernel de Linux y la compañía que desarrollaba BitKeeper se vino abajo y la herramienta dejó de ser ofrecida de manera gratuita. Esto impulsó a la comunidad de desarrollo de Linux (y en particular a Linus Torvalds, el creador de Linux) a desarrollar su propia herramienta basada en algunas de las lecciones que aprendieron mientras usaban BitKeeper. 
							</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->
				
				
                <div class="about" id="estructura">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>¿ Que es git ?</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-lg-7">
								<p>Git es un software de control de versiones diseñado por Linus Torvalds, pensando en la eficiencia, la confiabilidad y compatibilidad del mantenimiento de versiones de aplicaciones cuando estas tienen un gran número de archivos de código fuente. Su propósito es llevar registro de los cambios en archivos de computadora incluyendo coordinar el trabajo que varias personas realizan sobre archivos compartidos en un repositorio de código.</p>                            
							</div>
                            <div class="col-md-6 col-lg-5">
                                <img src="../img/repositorios/git_logo.png" alt="Image">
                            </div>							
                        </div>
                    </div>
                </div>			

                <div class="about" id="soporte">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>La Línea de Comandos</h2>
                        </div>
                        <div class="row align-items-center">
						
                            <div class="col-md-12 col-lg-12">
							    <p>Existen muchas formas de usar Git. Por un lado tenemos las herramientas originales de línea de comandos, y por otro lado tenemos una gran variedad de interfaces de usuario con distintas capacidades. La línea de comandos es el único lugar en donde puedes ejecutar todos los comandos de Git - la mayoría de interfaces gráficas de usuario solo implementan una parte de las características de Git por motivos de simplicidad.</p>
                                <div class="col-md-12 col-lg-12">
                                    <!-- <img src="../img/css_img2.png" alt="Image"> -->
                                </div>
							</div>
							
                        </div>
                    </div>
                </div>	

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Fundamentos</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
							<p>Entonces, ¿qué es Git en pocas palabras? Es muy importante entender bien esta sección, porque si entiendes lo que es Git y los fundamentos de cómo funciona, probablemente te será mucho más fácil usar Git efectivamente. A medida que aprendas Git, intenta olvidar todo lo que posiblemente conoces acerca de otros VCS como Subversion y Perforce. Hacer esto te ayudará a evitar confusiones sutiles a la hora de utilizar la herramienta. Git almacena y maneja la información de forma muy diferente a esos otros sistemas, a pesar de que su interfaz de usuario es bastante similar. Comprender esas diferencias evitará que te confundas a la hora de usarlo.</p>
							<div class="col-md-12 col-lg-12">
								<!-- <img src="../img/css_img4.png" alt="Image"> -->
							</div>
							</div>
							
                        </div>
                    </div>
                </div>

                <div class="about" id="selectores">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Configurar git - identidad</h2>
                        </div>
                        <div class="row align-items-center">						
                            <div class="col-md-12 col-lg-12">
								<p>Lo primero que deberás hacer cuando instales Git es establecer tu nombre de usuario y dirección de correo electrónico. Esto es importante porque los "commits" de Git usan esta información, y es introducida de manera inmutable en los commits que envías
                                    <li>
                                        $ git config --global user.name "John Doe"
                                    </li>
                                    <li>
                                        $ git config --global user.email johndoe@example.com </p>
                                    </li>
								<div class="col-md-7 col-lg-7">
									<!-- <img src="../img/css_img5.png" alt="Image"> -->
								</div>		
							</div>
							
                        </div>
                    </div>
                </div>					
                
 
                
                <!-- Footer Start -->
                <div class="footer">
                    <div class="content-inner">
                        <div class="row align-items-center">

                            <div class="col-md-12">
                                <p>Powered by <a href="#">Creepy Coders</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Start -->
            </div>
        </div>
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
        
 
    </body>
</html>
